.page {
    background-color: #222;
    height: 100vh;
    font-family: 'helvetica', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /*
  * {
    outline: 1px red solid;
  }
  */