.element__button-edit:hover:before {
  content: "Редактировать";
  position: absolute;
  font-size: 12px;
  top: -25px;
  left: -28px;
  border-radius: 5px;
  outline: 1px solid gray;
  padding: 2px;
  background-color: cornsilk;
  z-index: 1000;
}

.element__button-edit:hover:after {
  content: "";
  transform: rotate(45deg);
  position: absolute;
  font-size: 12px;
  top: -13px;
  left: 10px;
  padding: 5px;
  background-color: cornsilk;
  z-index: 999;
}