.admin-tools__button {
  color: cornsilk;
  background-color: #444;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
  outline: 0;
  border: 0;
  padding: 0 10px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.admin-tools__button:hover {
  background-color: #555;
}