.notification {
    display: flex;
    position: relative;
    right: 0;
    height: 40px;
    flex-direction: column;
    background-color: #444;
    border-radius: 15px;
    padding: 5px;
    margin: 5px 10px 5px 0;
    box-sizing: border-box;
    transition: 400ms;
    max-width: 70vw;
}