.form__input_disabled {
    pointer-events: none;
    visibility: hidden;
    height: 0px !important;
    width: 0px !important;
    padding: 0 !important;
    margin: 0 !important;
    opacity: 0;
    scale: 0;
}