.admin-tools__preloader {
  margin: 0 10px 0 auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-top: 3px cornsilk solid;
  border-right: 3px cornsilk solid; 
  animation: rotate 700ms linear infinite;
  transition: 300ms;
}

