@keyframes open-icon-animation {
  10% {
    top: 5px;
  }
  20% {
    top: 2px;
  }
  30% {
    top: 5px;
  }
  40% {
    top: 0;
  }
}

@keyframes open-icon-animation-reverse {
  10% {
    top: -5px;
  }
  20% {
    top: -2px;
  }
  30% {
    top: -5px;
  }
  40% {
    top: 0;
  }
}

.element__button-open-icon {
  position: relative;
  top: 0;
}

.element__button-open-icon:hover {
  animation: open-icon-animation 1800ms linear infinite; 
}