.user-element {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  user-select: none;
  cursor: pointer;
  transition: 200ms;
}

.user-element:first-child {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.user-element:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.user-element:hover {
  background-color: #444;
}