.notifications {
    position: fixed;
    height: 50vh;
    z-index: 1000;
    width: 0;
    right: 0;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 9999;
}