.footer__report-button {
  font-size: 20px;
  color: #222;
  background-color: cornsilk;
  outline: none;
  border: none;
  border-radius: 10px;
  margin: 0 0 0 10px;
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 200ms;
  user-select: none;
}